body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
.calculator{
    padding: 2rem
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    padding: 20px;
}

.media img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
}
